<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tayfunyamak.tayfsozlukpro">
   
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- application altındaki android:name v2 embedding standartlarına uygun hale getirildi -->
    <application
        android:label="Tayf Sözlük Pro"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|density|locale"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            
            <!-- v2 embedding geçişi için kritik olan meta-data satırı eklendi -->
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background"
                />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Flutter mimarisinin arka planda eklentileri tanımasını sağlayan meta-data -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
